.content {
    width: 100%;
    box-sizing: border-box;

}

.content>nav {
    padding: 0.14rem 0.12rem 0.12rem 0.12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.content>nav>a>img {
    width: 0.22rem;
    height: 0.22rem;
}

.content>nav>a>p {
    font-family: "苹方粗体";
    font-size: 0.18rem;
    color: #f1f1f1;
}

.content>.album_art{
    padding: 0.17rem 0.12rem 0.23rem 0.12rem;
    display: flex;
}
.content>.album_art>a>img{
    width: 1.17rem;
}
.content>.album_art>.album_art_right{
    padding-left: 0.08rem;
}
.content>.album_art>.album_art_right>a>p{
    font-family: "苹方中等";
    font-size: 0.16rem;
}
.content>.album_art>.album_art_right>a>span{
    display: block;
    font-family: "苹方中等";
    font-size: 0.11rem;
    padding: 0.02rem 0;
}
.content>.all_song{
    /* padding:0 0.12rem; */
    width: 100%;
    height: 0.44rem;
    background: #0e101c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content>.all_song>.all_song_left{
    padding-left: 0.12rem;
    display: flex;
}
.content>.all_song>.all_song_left>a>img{
    width: 0.22rem;
    height: 0.22rem;
}
.content>.all_song>.all_song_left>a>p{
    padding-left: 0.06rem;
    font-family: "苹方中等";
    font-size: 0.11rem;
}
.content>.all_song>img{
    padding-right: 0.12rem;
    width: 0.22rem;
    height: 0.185rem;
}
.content>.special_list{
    padding: 0 0.12rem;
}
.content>.special_list>ul>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0 0.12rem 0; 
}
.content>.special_list>ul>li>.special_list_left{
    display: flex;
    justify-content: space-between;
}
.content>.special_list>ul>li>.special_list_left>a>img{
    width: 0.88rem;
    height: 0.88rem;
}
.content>.special_list>ul>li>.special_list_left>.special_list_left_r{
    padding-left: 0.11rem;
}
.content>.special_list>ul>li>.special_list_left>.special_list_left_r>a>p{
    font-family: "苹方中等";
    font-size: 0.15rem;
}
.content>.special_list>ul>li>.special_list_left>.special_list_left_r>a>img{
    padding: 0.09rem 0;
}
.content>.special_list>ul>li>.special_list_left>.special_list_left_r>a>span{
    font-family: "苹方中等";
    font-size: 0.11rem;
    /* padding-top: 0.06rem; */
    display: block;
}
.content>.special_list>ul>li>.special_list_right{
    display: flex;
    /* flex: 1; */
}
.content>.special_list>ul>li>.special_list_right>a>.p{
    background: #751280;
}
.content>.special_list>ul>li>.special_list_right>a>p{
    padding: 0.04rem;
    border: 0.01rem solid #e1e1e1;
    font-size: 0.11rem;
    font-family: "苹方中等";
    border-radius: 0.05rem;
}
.content>.special_list>ul>li>.special_list_right>a>img{
    padding-left:0.12rem; 
    width: 0.22rem;
    height: 0.22rem;
}